.lq_nav{
    margin-top: 200px;
}

.lq_nav-link{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.lq_nav-item{
    list-style: none;
    writing-mode: vertical-rl;
    text-orientation: sideways-right;
    margin-top: 50px;

}

.lq_product-details--subtitle{
    color: var(--gris);
}

.lq_product-details{
    background-color: var(--beige);
    padding: 20px;
}

.lq_link-more{
    text-decoration: none;
    font-weight: bold;
    color: var(--noir);
    transition: all 0.5s ease;
    display: block;
}