@font-face {
    font-family: "Glamor";
    src: url("/assets/font/Glamor-Regular.ttf") format("truetype");
}

* {
    margin: 0;
    padding: 0;
    /*bg*/
    --blanc: #F2F2F2;
    /*sous titre et légende*/
    --gris: #a9a9a9;
    /*typo et titre*/
    --noir: #141414;
    /*fond des images*/
    --beige: #fff5ed;
    /*focus nav + design*/
    --orange: #fba150;
}

.row {
    --bs-gutter-x: 0 !important;
}

html {
    box-sizing: border-box;
    overflow-x: hidden;
}

body {
    height: 100vh;
    width: 100vw;
    /*overflow-y: hidden;*/
    overflow-x: hidden;
    font-family: 'Roboto', 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1rem !important;
    color: var(--noir);
    background-color: var(--blanc);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--noir);
}

h1,
h2 {
    font-family: "Glamor";
}

.title {
    font-size: 3rem;
}

.title-point {
    color: var(--orange);
    font-size: 0.8rem;
}

.link:hover {
    color: var(--orange) !important;
    transition: all 0.5s ease;
}


/*CSS Lea*/

.ls_header--nav {
    z-index: 1;
}


/*Btn Dark mode*/

.ls__nav--toggle:before,
.ls__nav--toggle:after {
    background: var(--blanc);
}

.ls__nav--toggle {
    position: relative;
}

.ls_nav_swipMode--curtain,
.ls__nav--toggle:before,
.ls__nav--toggle:after {
    position: absolute;
}

.ls_nav_swipMode--curtain,
.ls__nav--toggle:before,
.ls__nav--toggle:after {
    transition: transform var(--dur);
}

.ls_nav_swipMode--curtain,
.ls__nav--toggle:before,
.ls__nav--toggle:checked:after {
    transition-timing-function: ease-out;
}

.ls_nav_swipMode--curtain {
    top: 0;
    left: 0;
}

.ls_nav_swipMode--curtain {
    background: var(--blanc);
    mix-blend-mode: difference;
    pointer-events: none;
    width: 100%;
    height: 100%;
    transform: scaleX(0);
    transform-origin: 0 50%;
}

.ls__nav--toggle {
    overflow: hidden;
}

.ls__nav--toggle {
    background: currentColor;
    border-radius: 0.75em;
    cursor: pointer;
    width: 3em;
    height: 1.5em;
    appearance: none;
}

.ls__nav--toggle:before,
.ls__nav--toggle:after {
    border-radius: 50%;
    content: "";
    display: block;
    top: 0.25em;
    left: 0.25em;
    width: 1em;
    height: 1em;
}

.ls__nav--toggle:before,
.ls__nav--toggle:checked:after {
    transition-delay: 0s;
}

.ls__nav--toggle:checked:before,
.ls__nav--toggle:after {
    transition-delay: calc(var(--dur) * 0.75);
    transition-timing-function: cubic-bezier(0.3, 1.6, 0.5, 0.7);
}

.ls__nav--toggle:before {
    transform: translateX(-1.5em);
}

.ls__nav--toggle:checked:before {
    transform: translateX(1.5em);
}

.ls__nav--toggle:checked:after {
    transform: translateX(3em);
}

.ls__nav--toggle:checked~.ls_nav_swipMode--curtain {
    transform: scaleX(1);
}

main {
    overflow: visible;
    width: 100%;
}

.td_home-slider__slide--1 {
    background-image: url(../img/modern-armchair-5.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.td_home-slider__slide--2 {
    background-image: url(../img/modern-chair.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.td_home-slider__slide--3 {
    background-image: url(../img/modern-armchair-2.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    left: 200%;
}

.td_home-slider__container__text {
    margin: 2rem 10rem;
    width: 30%;
}


/* RETIRER CETTE CLASSE ET UTILISER LA CLASSE title-point de style.css */

.td_home-slider__container__text--title-point {
    color: var(--orange);
    font-size: 0.8rem;
}

.td_home-slider__container__text--link-more {
    text-decoration: none;
    font-weight: bold;
    color: var(--noir);
    transition: all 0.5s ease;
}

.td_home-slider__nav {
    padding: 0;
    transform: translateX(-50%);
}

.td_home-slider__nav__link i {
    color: var(--noir);
    font-size: 0.5rem;
    transition: all 0.5s ease;
}

ul.td_home-slider__nav li {
    display: inline;
    padding: 0.2rem;
    cursor: pointer;
}

.td_home-slider__nav__link--current i {
    font-size: 0.7rem;
    color: var(--orange);
    transition: all 0.5s ease;
}


/*TimeLine*/

.ls_section--timeline {
    border-right: 3px solid var(--orange);
    position: relative;
    list-style: none;
    border-left: 0;
    text-align: right;
}

.ls_section--timeline .ls_timeline--img1,
.ls_section--timeline .ls_timeline--img2,
.ls_section--timeline .ls_timeline--img3 {
    border-bottom: 1px dashed #e8ebf1;
    padding-bottom: 2rem;
    padding-right: 4rem;
    margin-bottom: 2rem;
    position: relative;
}

.ls_section--timeline .ls_timeline--img1:last-of-type,
.ls_section--timeline .ls_timeline--img2:last-of-type,
.ls_section--timeline .ls_timeline--img3:last-of-type {
    padding-bottom: 0;
    margin-bottom: 0;
    border: none;
}

.ls_section--timeline .ls_timeline--img1:after,
.ls_section--timeline .ls_timeline--img3:after,
.ls_section--timeline .ls_timeline--img2:after {
    box-shadow: 0 0 0 1px var(--orange);
    right: -7%;
    background-color: white;
    background-repeat: no-repeat;
    background-size: contain;
    height: 6rem;
    width: 6rem;
    content: "";
    top: 2%;
    position: absolute;
    top: 5%;
}

.ls_timeline--img1:after {
    background-image: url(/assets/img/ls_chaise4.jpg);
}

.ls_timeline--img2:after {
    background-image: url(/assets/img/ls_chaise3.jpg);
}

.ls_timeline--img3:after {
    background-image: url(/assets/img/ls_chaise2.jpg);
}


/*Css Laura*/

.lq_nav {
    gap: 7rem;
    top: 50%;
    transform: translateY(-50%);
}

.lq_nav-link {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.lq_nav-item {
    list-style: none;
    transform: rotate(270deg);
}

.lq_product-details--subtitle {
    color: var(--gris);
}

.lq_product-details {
    background-color: var(--beige);
}

.lq_link-more {
    text-decoration: none;
    font-weight: bold;
    color: var(--noir);
    transition: all 0.5s ease;
    display: block;
    /*mettre en orange au hover*/
}